env.json
logs/

janus core/*
praetorcast-core/*
node_modules/*

# Musique et sons
public/music/*
!public/music/example/
!public/music/example/**

public/soundboard/*
!public/soundboard/song.txt


public/banner/*
!public/banner/banner.txt

public/scheduler/*
!public/scheduler/scheduler.txt


public/font/*
!public/font/font.txt
